body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.game {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.top, .bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.top {
    height: 40vh;
}

.bottom {
    height: 60vh;
    border-style: solid none none none;
    border-color: rgba(0,0,0, 0.7);
}

.questionCardArea {
    display: flex;
    min-width: 300px;
    max-width: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-style: none solid none none;
    border-color: rgba(0,0,0, 0.3);
}

.submitArea {
    padding: 5px 0px 0px 0px;
}

.submitBtn {
    width: 150px;
    background-color: white;
}

.queCard, .userCard, .answerCard {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0, 0.5);
}

.queCard {
    color: white;
    height: 30vh;
    min-width: 200px;
    max-width: 200px;
    border-radius: 5%;
    text-align: center;
    background-color: black;
}

.gameStats {
    min-width: 150px;
    max-width: 150px;
    border-color: rgba(0,0,0, 0.3);
    border-style: none solid none none;
}

.players{
    margin: 0;
    padding: 0;
}

.lobbystats {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
    display: block;
    border-width: 1px;
    border-color: rgba(0,0,0, 0.5);
    border-style: none none solid none;
}

.czarstatus{
    padding: 0;
    margin: 0;
    width: 150px;
    display: flex;
    justify-content: flex-end;
}

.playerCards, .answerCards {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.notifier{
    font-size: 50px;
    color: white
}

.groupAnswer {
    display:flex;
    flex-direction: row;
    padding-right: 15px;
}

.userCard,.answerCard {
    height: 30vh;
    min-width: 200px;
    max-width: 200px;
    cursor: pointer;
    border-radius: 2%;
    text-align: center;
    margin: 30px 5px 0 10px;
    background-color: white;
    transition: all .2s ease-in-out;
}

.userCard:hover, .answerCard:hover {
    transform: scale(1.1);
}

/* hides scroll bar */
.playerCards::-webkit-scrollbar, .answerCards::-webkit-scrollbar {
    display: none;
}

.displayWinner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}

.winner{
    font-size: 50px;
    color: white;
    z-index: 3;
}