body{
    width:100%;
    padding: 0;
    margin: 0;
}

.navigationBar {
    width: 100%;
    height: 60px;
    background-color: #eaf0f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px black;
}

.displayUser {
    font-family: "Roboto", "Helvetica", "Arial", serif;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    font-weight: 500;
    line-height: 1.75;
    padding-right:10px;
}

.loggedIn, .loggedOut{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 30px;
}


@media screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
}